/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.top-toolbar-spacer {
    flex: 1 1 auto;
}
.top-toolbar-item {
    margin: 0 20px;
}
.page-title {
    padding: 0 20px;
    display: inline-block;
}