/* margin: top right bottom left */
.resource-togglegroup {
    margin: 0 50px;
}

.createnew-button {
    margin: 0px 50px 0px 50px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 104px;
    z-index: 999;
    width: 100% !important;
}

.algo-table {
    width: 100%;
}

.nav-row {
    height: 48px;
    width: 100% !important;
}

.spacer {
    top: 0;
    height: 104px;
    margin:0;
    border: 0;
}